RELEASE = 
DTESTDEF = D${RELEASE}TEST
DJMTESTDEF = D${RELEASE}JMTEST
DTESTUIDEF = D${RELEASE}TESTUI
#Use Feature Form for logging report form
DFEATUREFORMDEF = D${RELEASE}FEATUREFORM
DFEATUREFORMIMPORTDEF = import com.substanceofcode.rssreader.presentation.FeatureForm;
DLOGDEF = D${RELEASE}LOGGING
logging-concat.jad = logging-concat.jad
#Don't delete jlogmicro by giving bogus directory
log.subdir = nojlogmicro
#DLOGDEF = DNOLOGGING
#add.jars = true
#ext.jar = ../../../JLogMicro/bin/JLogMicro.jar
#Compile test ui
#testui.presrc = ../testpresrc
#testui.presrc = C:/opt/WTK2.5.1/apps/RSSReader/mobile-rss-reader/testpresrc
#Copy from src copy.jar.src = true
#Copy from src jarsrc = ../../../JLogMicro/src
#jar.presrc = ../../../JLogMicro/jlogmicro/presrc
#jar.presrc = C:/opt/WTK2.5.1/apps/JLogMicro/jlogmicro/presrc
jar.presrc = ../../../JLogMicro/jlogmicro/presrc
#jmunit.src = C:/mostdownloads/j2me/sourceforge/jmunit-1.2.1/src_cldc10
jmunit.src = ../../../JMUnit/jmunit/src_cldc10
#need.test.res = true
#res.test.dir = ../testdata
res.test.todir = 
obfuscate = no
#keep.obfuscate = true
