wtk.midp.version = 2.0
wtk.cldc.version = 1.0
wtk.optionalpda.enabled = true
wtk.mmapi.enabled  = true
wtk.miapi.enabled  = false
debug = debug
DMIDPVERS = DMIDP20
#Don't allow Itunes to save performance and memory
DITUNESDEF = DNOITUNES
DJSR135 = DJSR135
DJSR238 = DNOJSR238
DMEMSIZEDEF = DREGULARMEM
#1.1 kills us.
DCLDCVERS = DCLDCV10
JMIDPVERS = MIDP-2.0 
JCLDCVERS = CLDC-1.0
file.prefix = midp20_jsr135_
bin = ${target}/bin20jsr135
MIDLETVERS = ${MIDLETVERSROOT}
SUFFIXVERS =  2.0-jsr135
